.butterfly {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: monospace;
  pointer-events: none;
  color: #7FFF00;
  transition: color 0.5s ease;
}
.butterfly:nth-child(1) { opacity: 0.9; }
.butterfly:nth-child(2) { opacity: 0.8; }
.butterfly:nth-child(3) { opacity: 0.7; }
.butterfly:nth-child(4) { opacity: 0.6; }
.butterfly:nth-child(5) { opacity: 0.5; }
.butterfly:nth-child(6) { opacity: 0.4; }
.butterfly:nth-child(7) { opacity: 0.3; }
.butterfly:nth-child(8) { opacity: 0.2; }
.butterfly:nth-child(9) { opacity: 0.1; }


#toggleRain, #toggleButterflies {
    background-color: black;
    color: chartreuse;
    border: 1px solid chartreuse;
    font-family: monospace;
    padding: 5px 10px;
    cursor: url('cursors/cursorHover.png'), auto;
    transition: all 0.3s ease;
}
#toggleRain:hover, #toggleButterflies:hover {
    border-color: yellow;
}
#toggleRain:active, #toggleButterflies:active {
    border-color: slateblue;
}

.p1 {
    font-family: monospace;
}

.main {
    font-family: monospace;
    margin-left: 160px;
    padding: 0px 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  float: right;
  margin: 100px 100px 0px 0px;
}

.sidenav {
  height: 100%; 
  width: 180px; 
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
}

.makeSpace {
    margin-left: 200px;
}

.smallMargins {
    margin-top: 0px;
    margin-bottom: 0px;
}

.smallMargins2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.sidebarRight {
    float: right;
    height: 100%;
    width: 360px;
    z-index: 1;
    overflow: hidden;
    
    right: 0;
    top: 0;
}

.linkbarRight {
    float: right;
    height: 65%;
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    background: transparent;
    margin-right: 100px;
    margin-top: 150px;
    text-align: center;
}

.mainbarLeft {
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    background: transparent;
    text-align: center;
    font-size: 1vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: block;
    flex: 1;
    
}

/* resizing text */
.resizableText {
    font-size: 5vh;
}

.moveToLeft {
    float: left;
    width: 265px;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    background: transparent;
    text-align: center;
    
    height: 100vh;
    font-size: 1vh;
    
    display: flex;

}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.navCSS {
    z-index: 1;
    background: transparent;
    text-align: center;
    
    font-size: 1vh;
    display: block;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    
    
    overflow: auto;
}

.chart {
    color: chartreuse;
}

.purple {
    color: slateblue;
    font-family: monospace;
}

.littlefucker {

}

a {
    color:coral;
}

a:hover {
  background-color: black;
  cursor: url('cursors/cursorHover.png'), auto;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    cursor: url('cursors/cursorHover.png'), auto;
}

body {
    padding: 0;
    background-color: transparent;
}

html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    margin-top: 2px;
    margin-bottom: 0px;
    
}

h2 {
    margin-bottom: 1px;
}

table {
  border-collapse: collapse;
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: 1px;
  table-layout: fixed;
  overflow-x: hidden;
  height: auto;
  word-wrap: break-word;
}

th,
td {
  border: 1px solid chartreuse;
  padding: 8px 10px;

  height: auto;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
}

tr {
    background: rgba(0,0,0,0.6);
    height: auto;
    width: 100vw;
    word-wrap: break-word;
    
}

th:empty, td:empty {
    display: none;
}

.scrollable-content {
    font-family: monospace;
    max-height: 65vh;          
    height: auto;              
    width: 90%;
    max-width: 90%;
    overflow-y: auto;
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    
    margin: auto;

}

.scrollable-content2 {
    font-family: monospace;
       max-width: 100vw;     
        padding: 5px;          
        font-size: 0.9rem;      
        max-height: 100vh;  
        height: 100%;
            overflow-y: auto;
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    
    margin: auto;
}

.comic-image {
        width: 50%;
        height: 50%;
        
}

.art-image {
        width: 40%;
        
}

/* small height specific ddjustments */
@media, (max-height: 768px) {

    .scrollable-content, .p1, .mainbarLeft {
        
        max-width: 80vw;     
        padding: 5px;          
        font-size: 0.5rem;      
        max-height: 45vh;      
        white-space: normal;
    }
    .scrollable-content2 {
           
                 
        font-size: 0.9rem;      
          
        height: 100%;
    }
    .kiwiPic {
        width: 50%;
        height: 50%;
    }
}


/* mobile specific adjustments */
@media, (max-width: 1280px) {
    .scrollable-content, .p1, .mainbarLeft, .rainbow, .topAss, .h1Rainbow, .smallMargins {
        
        max-width: 60vw;     
        padding: 5px;          
        font-size: 0.5rem;      
        max-height: 40vh;      
        
    }
    tr,th {
        max-width: 50vw;
        font-size: 0.5rem; 
        word-wrap: break-word;
        white-space: normal;
    }
    
    table {
        width: 100%;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .scrollable-content2 {
        padding: 50px 0 50px 0;
        max-height: 100vh; 
        max-width: 100vw;
        font-size: 0.5rem;
    }
    
    iframe {
        width: 100%;
    }
    
    .comic-image {
        width: 100%;
        height: 100%; 
    }
    
    .webringImage {
        width: 40%;
        height: 40%;
    }
    
    .kiwiPic {
        width: 50%;
        height: 50%;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}

object {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

audio {
    opacity: 50%;
    max-width: 600px;
    cursor: url('cursors/cursorHover.png'), auto;
}

img:hover {
    cursor: url('cursors/cursorSmiley.png'), auto;
}

audio:hover {
    cursor: url('cursors/cursorHover.png'), auto;
}

html {
    cursor: url('cursors/cursor.png'), auto;
}

.collapsible {
  background-color: #121112;
  color: chartreuse;
  padding: 1px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 12px;
  font-family: monospace;
}

.active, .collapsible:hover {
  background-color: #121112;
}

.content {
  max-height: 0;
  overflow: hidden;
  padding: 1px;
  width: 100%;
  transition: max-height 0.2s ease-out;
  background-color: #121112;
  font-family: monospace;
}

.spacelamp {
    background: linear-gradient(45deg, rgba(207,120,224,1) 25%, rgba(100,249,179,1));
    background-size: 400% 400%;
    animation: spacelampanimation 5s linear infinite;
    min-width: 88px; 
    max-width: 88px; 
    min-height: 23px; 
    max-height: 23px; 
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    font-style: normal;
    align-items: center; 
}
    
@keyframes spacelampanimation {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}